Server/WebContent/wsdl/registerprofile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saveprofile">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="birthdate" type="xsd:string"/>
      <element name="phoneno" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="ebayhandle" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveprofileResponse">
    <complexType>
     <sequence>
      <element name="saveprofileReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveprofileResponse">

      <wsdl:part element="impl:saveprofileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveprofileRequest">

      <wsdl:part element="impl:saveprofile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="registerprofile">

      <wsdl:operation name="saveprofile">

         <wsdl:input message="impl:saveprofileRequest" name="saveprofileRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveprofileResponse" name="saveprofileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="registerprofileSoapBinding" type="impl:registerprofile">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saveprofile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveprofileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveprofileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="registerprofileService">

      <wsdl:port binding="impl:registerprofileSoapBinding" name="registerprofile">

         <wsdlsoap:address location="http://localhost:8080/testebay/services/registerprofile"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
