Server/WebContent/wsdl/testlogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test" xmlns:intf="http://test" xmlns:tns1="http://pojo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://pojo"/>
   <element name="validate">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateResponse">
    <complexType>
     <sequence>
      <element name="validateReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://pojo" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastLoggedIn" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateRequest">

      <wsdl:part element="impl:validate" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateResponse">

      <wsdl:part element="impl:validateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="testlogin">

      <wsdl:operation name="validate">

         <wsdl:input message="impl:validateRequest" name="validateRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateResponse" name="validateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="testloginSoapBinding" type="impl:testlogin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validate">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="testloginService">

      <wsdl:port binding="impl:testloginSoapBinding" name="testlogin">

         <wsdlsoap:address location="http://localhost:8080/testebay/services/testlogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
